@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
.contador {
  font-weight: 600;
}

.table {
  font-family: 'Quicksand', sans-serif;
}
thead {
  font-weight: 600;
  font-size: 1.2rem;
}

.w-60 {
  width: 60px !important;
  height: 60px !important;
}

.nav-user {
  padding: 0 12px !important
}

.nav-user img {
  height: 32px;
  width: 32px
}

.header-title {
  font-size: 1rem;
  margin: 0 0 7px 0;
}

.media-n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
}
.media-n-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}