/* .Nav-logo {
    height: center;
    pointer-events: none;
    background-position: center;
    background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
    .Nav-logo {
        animation: Nav-logo-spin infinite 20s linear;
    }
}

@keyframes Nav-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,100&display=swap");

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  -moz-osz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.icon {
  display: block;
  background: #fff;
}
