@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
.contador {
  font-weight: 600;
}

.table {
  font-family: 'Quicksand', sans-serif;
}
thead {
  font-weight: 600;
  font-size: 1.2rem;
}

.w-60 {
  width: 60px !important;
  height: 60px !important;
}

.card-box {
  background-color: #313844;
  padding: 1.5rem;
  -webkit-box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
  box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
  margin-bottom: 24px;
  border-radius: 0.25rem;
}
.card-box .card-drop {
  color: #adb5bd;
  font-size: 20px;
  display: inline-block;
  line-height: 1px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.avatar {
  height: 4.5rem;
  width: 4.5rem
}