@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.contador {
  font-weight: 600;
}

.table {
  font-family: "Quicksand", sans-serif;
}
thead {
  font-weight: 600;
  font-size: 1.2rem;
}

.w-60 {
  width: 60px !important;
  height: 60px !important;
}
