.App {
  /* text-align: center; */
  min-height: 100vh;
  padding: 50px;
}

.bg-bank {
  background-image: url("./img/wallpaper.jpg");
  background-position: center;
  background-size: cover;
  position: fixed;
  display: block;
  opacity: 0.2;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
